# Core Framework
flask
python-dotenv

# AI & LLM (Loosened for Resolution)
langchain
langchain-core
langchain-classic
langchain-community
langchain-groq
langchain-pinecone
langchain-huggingface
langchain-text-splitters
pinecone


# Document Processing
pypdf
sentence-transformers

# Multimodal & Audio
Pillow
opencv-python
SpeechRecognition
pyaudio
kagglehub
matplotlib
seaborn
pandas
scikit-learn
streamlit
plotly
google-generativeai
google-genai
Pillow
ollama>=0.4.7
torch
torchvision
tqdm
numpy
sympy
pyttsx3